@font-face {
  font: {
    family: "Source Serif Pro";
    weight: 400;
    style: normal;
  }

  src: url("#{$source-serif-pro-path}/source-serif-pro-regular.eot");
  src: url("#{$source-serif-pro-path}/source-serif-pro-regular.eot#iefix") format("embedded-opentype"),
       url("#{$source-serif-pro-path}/source-serif-pro-regular.woff2") format("woff2"),
       url("#{$source-serif-pro-path}/source-serif-pro-regular.woff") format("woff"),
       url("#{$source-serif-pro-path}/source-serif-pro-regular.ttf") format("truetype");
}
